@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

/*Main container*/
.main-container {
  display: flex;
  gap: 50px;
}

/* Sidebar CSS*/
.sidebar-container {
  width: 300px;
  min-height: 100vh;
  background-color: #ffffff;
  border-right: 0.5px solid #b4b1af;
  
}

.sidebar-container .logo {
  display: flex;
  align-items: center;
  padding: 30px 0 0 30px;
  margin-right: 15px;
}

.sidebar-container img {
  width: 50px;
}

.heading {
  color: #6e6660;
  font-size: 25px;
  font-weight: 700;
}

.it {
  color: #ed4d02;
}

.sidebar-lists {
  margin: 2.5rem 0.5rem;
}

.sidebar-lists li {
  list-style: none;
  padding: 15px 0;
  margin-bottom: 15px;
  /* transition: 0.3s ease; */
}

.sidebar-lists li:hover {
  cursor: pointer;
  background: rgba(153, 157, 173, 0.22);
  border-radius: 5px;
}

.sidebar-icons {
  margin: 0.2rem 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  align-self: center;
  gap: 2rem;
}

.sidebar-lists li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  /* transition: 0.3s ease; */
}

.sidebar-lists li .dropdown-menu {
  display: none;
}

.sidebar-lists li:hover .dropdown-menu {
  display: block;
  margin: 1rem;
}

button {
  display: block;
  width: 150px;
  height: 2.5rem;
}

.btn {
  background-color: #fff;
  border: 1px solid #b4b1af;
  border-radius: 5px;
  margin: 4rem 3rem 1.5rem 3rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.btn-logout {
  position:absolute;
  bottom: 15%;
}

/* ADENIGBA CSS STARTS HERE */

.usersEditSection{
    width: 700px;
    margin: 0 auto;
}


.editSectionTitle {
  margin-top: 40px;
  margin-bottom: 40px;
}


.formTitle {
  font-size: 20px;
  font-weight: 600;
}

.formGroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  margin-bottom: 20px;
}


.formGroup Input {
  border: none;
  height: 55px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  outline:none;
  background: #B4B1AF;;
  opacity: 90%;
}

.icon {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.buttonContainer a{
  text-decoration: none;
  text-align: center;
}

button{
  height: 50px;
  font-weight: 700;
}

.butn {
  padding: 15px;
  color: #ed4d02;
  cursor: pointer;
  width: 195px;
  border: 1px solid #b4b1af;
  font-size: 14px;
  background: #fff;
  border-radius: 8px;
}

.active {
  background:  #ED4D02;
  color: #fff;
}

.butn:hover {
  background: #da4804;
  color: #fff;
}
