/*importing Font from google*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #b4b1af;
}

.blog_overlay-section {
  background: #e9e9e8;
  border-radius: 20px;
  max-width: 95%;
  margin: 2rem auto;
  text-align: center;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.blog_overlay-wrapper {
  max-width: 90%;
  min-height: 5rem;
  text-align: center;
  margin: 1rem auto;
}

open-close {
  width: 10%;
}

/* .blog_card {
  height: 150px;
  min-width: 80%;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 2px 4px 2px rgb(167, 167, 179);
  background: rgba(149, 198, 142, 0.53);
} */

.blog_description-label {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 25px;
  margin: 4rem auto 1rem;
  box-shadow: 2px 4px 2px rgb(167, 167, 179);
  border-radius: 1px;
  min-width: 80%;
  background-color: rgb(207, 230, 231);
}

.blog_code {
  color: #ed4d02;
  width: 72px;
  font-size: 20px;
  font-weight: 700;
}

.blog_sector-category {
  font-size: 20px;
  font-weight: 700;
}

.blog_content {
  min-height: fit-content; /* the height adjust automatically to the blog content  */
  min-width: 80%;
  margin: 0 auto 2rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blog_content-heading {
  padding: 30px 10px 10px;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
}

.blog_content-body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  padding: 10px 40px 40px;
  text-align: justify;
}

.comment-wrapper {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  gap: 10px;
}

.elipse {
  width: 50px;
  border-radius: 50%;
  background-color: rgb(167, 167, 179);
}

input {
  outline: none;
  width: 70%;
  height: 50px;
}

.comment_box {
  border-radius: 30px;
  border: 1px solid #d9d9d9;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.comment_submit-button {
  background: rgba(237, 77, 2, 0.55);
  border-radius: 30px;
  min-width: 144px;
  height: 50px;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  border: none;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.comment_submit-button:hover {
  background-color: #ed4d02;
}

.response {
  min-width: 80%;
  margin: 0 auto;
}

.no-responses-yet {
  height: 69px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.31);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(237, 77, 2, 0.55);
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.open-close,
.open-close a {
  text-decoration: none;
  text-align: right;
  margin: 25px 10px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.open-close,
.open-close a:hover {
  color: red;
}

@media (max-width: 680px) {
  .blog_overlay-section {
    margin: 1rem auto;

    padding: 0.2rem auto 2rem;
  }

  .blog_description-label {
    padding: 10px 10px;
    margin: 2rem auto 1rem;
  }

  .blog_content-heading {
    padding: 25px;
    font-weight: bold;
    font-size: 18px;
  }

  .blog_content-body {
    padding: 10px 10px 40px;
  }

  .blog_code {
    width: 50px;
    font-size: 12px;
    font-weight: bold;
  }

  .blog_sector-category {
    font-size: 12px;
    font-weight: bold;
  }
  /* 
  .open-close {
    display: none;
  } */

  .elipse {
    display: none;
  }

  .blog_overlay-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 2rem auto;
    border: none;
  }

  .comment-wrapper {
    width: 100%;
    margin: 0.2rem auto;
    flex-direction: column;
    padding: 0.2rem;
    align-items: center;
    gap: 1rem;
  }

  .comment_submit-button {
    min-width: 98%;
  }

  .comment_box {
    border-radius: 10px;
    min-width: 98%;
    min-height: 43px;
  }

  .response {
    margin-top: 1rem;
    min-width: 90%;
  }
}
